@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF0F0;
  --foreground: #333333;
  --blue: #EAEEF7;
  --white: #FAFAFA;
  --border-light:  #E0E0E0;
  --border-dark: #E6E6E6;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 14px;
}

h1{
  font-weight: 700;
  font-size: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

