@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff0f0;
  --foreground: #333333;
  --blue: #eaeef7;
  --white: #fafafa;
  --ghost-white: #fbfbff;
  --border-light: #e0e0e0;
  --border-dark: #e6e6e6;
  --purple: #6a3aa2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 14px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
